
<header>
    <div class="logo"><span>E</span> Management</div>
    <nav [ngClass]="{'Open' : open}">
        <div class="logo"><span>E</span> Management</div>
        <ul>
            <li><a >Home</a></li>
            <li><a routerLinkActive="click">E List</a></li>
            <li><a routerLink="/Add-Data" routerLinkActive="click">Add Data</a></li>
        </ul>
    </nav>
    <div class="hamburger" (click)="open = !open">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>