
header {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0px 40px;
    height: 70px;
    border-radius: 0 0 10px 10px;
    margin-top: 5px;
}

.logo {
    display: inline;
    font-size: 20px;
    font-weight: 600;
}

nav{
    padding-top: 15px;
}

nav .logo{
    display: none;
}

nav ul{
    display: flex;

}

nav ul li a{
    color: black;
    text-decoration: none;
    display: block;
    font-weight: 600;
    margin: 3px 2px;
     padding: 8px 18px;
     border-radius: 30px;
}

nav ul li a:hover{
    background-color: #f6f4ff;
}

li{
    list-style: none;
}

.hamburger{
    display: none;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.hamburger:hover{
    background-color: #f6f4ff;
}

.hamburger div{
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}



@media screen and (max-width:1000px){
    .hamburger{
        display: block;
    }

    header{
        width: 90%;
    }

    nav{
        padding-top: 10px;
        position: absolute;
        top: 0;
        left: -60%;
        background-color: #fefefe;
        height: 100vh;
        width: 60%;
        z-index: 100;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.498);
        transition: 0.2s;
    }

    .Open{
        left: 0;
    }

    nav ul{
        display: block;
    }

    nav .logo{
        margin-top: 20px;
        display: block;
        text-align: center;
        font-size: 30px;
    }

    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
       border-radius: 5px;
    }
}