<header>
    <div class="logo"><span>E</span> Management</div>
    <nav [ngClass]="{'Open' : open}">
        <div class="logo"><span>E</span> Management</div>
        <ul>
            <li *ngIf="!Authenticated"><a a routerLinkActive="click" routerLink="Auth" (click)="open = false">LogIn /
                    Register</a></li>
            <li *ngIf="Authenticated"><a routerLinkActive="click" routerLink="E-Table"
                    (click)="open = false">E-Table</a></li>
            <li *ngIf="Authenticated"><a routerLink="Add-Data" routerLinkActive="click" (click)="open = false">Add
                    Data</a></li>
            <li *ngIf="Authenticated"><a routerLinkActive="click" (click)="LogOut()"
                    [style]="{cursor : 'pointer'}">LogOut</a></li>
        </ul>
    </nav>
    <div class="hamburger" (click)="open = !open">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>

<app-confirm [message]="message" (close)="onCancel()" (ok)="onYes()" *ngIf="message"></app-confirm>