<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10" *ngIf="!isLoading && (employeesList?.length > 0)">
      <table class="table">
        <thead class="th">
          <tr>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col">Deatils</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empList of employeesList ; let index = index">
            <th class="tb" scope="row">{{empList.UID}}</th>
            <td class="tb">{{empList.Name}}</td>
            <td class="tb"><i class="bi bi-arrow-right-circle-fill" [routerLink]="['Details' , empList.UID]"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Alert for data not avaliable -->
    <div class="col-md-6 alert alert-light" *ngIf="!isLoading && (employeesList?.length < 1) && !err">
      <h4>You dont have any Data..</h4>
      <br>
      <div style="float: right;">
        <button type="button" class="btn" routerLink="/Add-Data">Add Data</button>
      </div>
    </div>

    <!-- Alert for Error -->
    <div class="col-md-6 alert alert-danger" *ngIf="!isLoading && err">
      <h4>Error.</h4>
      <br>
      <div class="text-center">
        <p>{{err}}</p>
      </div>
    </div>

  </div>
</div>


<app-loading *ngIf="isLoading"></app-loading>