table {
    text-align: center;
}

thead tr th {
    padding: 20px 0;
    background-color: var(--button);
    color: white;
}

.tb {
    padding: 22px 0;
}

i {
    font-size: 20px;
    cursor: pointer;
}

.btn {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 600;
    margin: 3px 2px;
    padding: 8px 18px;
    border-radius: 30px;
    background-color: green;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(0.9);
}