<form class="container-fluid" [formGroup]="fpForm">
    <div class="row justify-content-center ">

        <div class="col-md-4 col-11 form-body" *ngIf="!isLoading">

            <p class="logo"><span class="E">E</span> Management</p>

            <div *ngIf="Step === 0">
                <label for="email">Email*</label>
                <input type="text" id="email" class="form-control" placeholder="example@gmail.com"
                    formControlName="Email">
                <p *ngIf="fpForm.get('Email').invalid && fpForm.get('Email').touched" class="text-danger">Enter Valid
                    Email!</p>
                <div class="mt-3">
                    <button type="submit" class="btn" [disabled]="fpForm.get('Email').invalid"
                        (click)="validateEmail()">Next</button>
                </div>
            </div>

            <div *ngIf="Step === 1">
                <label for="" class="mb-2">Kindly check your email we have sent an OTP to your Registred Email*</label>
                <input type="text" name="" class="form-control" autofocus id="otp" formControlName="Otp">
                <p class="text-end mt-2" *ngIf="!Resend">{{expiresIn}}s</p>
                <p class="text-end mt-2" *ngIf="Resend"><a (click)="onResend()" id="resend">Resend</a></p>

                <div class="mt-3">
                    <button type="submit" class="btn" [disabled]="fpForm.get('Otp').invalid"
                        (click)="verifyOtp()">Verify
                        OTP</button>
                </div>
            </div>


            <div *ngIf="Step === 2">
                <div class="mb-3">
                    <label for="Password">New Password*</label>
                    <input type="password" id="Password" class="form-control" placeholder="New-Password"
                        formControlName="New-Password">
                    <p *ngIf="fpForm.get('New-Password').invalid && fpForm.get('New-Password').touched"
                        class="text-danger">
                        Password
                        should be 8 to 10 in length!</p>
                </div>

                <div>
                    <label for="Confirm-Password">Confirm Password*</label>
                    <input type="password" id="Confirm-Password" class="form-control" placeholder="Confirm-Password"
                        formControlName="Confirm-Password">

                    <p *ngIf="fpForm.get('New-Password').value !== fpForm.get('Confirm-Password').value && fpForm.get('Confirm-Password').touched "
                        class="text-danger">Password
                        didn't match!</p>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn"
                        [disabled]="(fpForm.get('New-Password').invalid  ||  fpForm.get('Confirm-Password').invalid)"
                        (click)="updatePassword()">Update Password</button>
                </div>
            </div>
        </div>
    </div>
</form>

<app-loading *ngIf="isLoading"></app-loading>

<!-- enum base steps -->